/* This file contains only the list view specific styles */
/* Common styles like body, nav-bar, menu-bar are imported from style.css */

/* Navigation text specific to list view */
main {
  width: 100%;
}
main #navigation-text {
  opacity: 0.6;
  margin-left: 11%;
  margin-right: 11%;
  padding-top: 0.75%;
  padding-bottom: 0.75%;
  font-size: 0.9vw;
}

/*Content Area */
#content-area {
  display: flex;
  height: auto;
  margin-left: 11%;
  margin-right: 11%;
}

/* Section: filter(page left-view) */
#content-area #filters {
  width: 19%;
  height: auto;
  margin-right: 1%;
  font-size: 0.9vw;
}
#content-area #filters ul li {
  display: flex;
  align-items: center;
}
#content-area #filters ul li input {
  margin-right: 1%;
  width: 1vh;
  height: auto;
}
@media (max-width: 905px) {
  #content-area #filters ul li input {
    margin-right: 1%;

    width: 0.7vh;
    height: auto;
  }
}
@media (max-width: 682px) {
  #content-area #filters ul li input {
    width: 0.5vh;
    height: auto;
    margin-right: 1%;
  }
  .check {
    width: 0.1vh;
    height: auto;
  }
}
#content-area #filters .parent {
  padding-top: 2%;
  margin-bottom: 1%;
  border: 0.1px solid rgba(0, 0, 0, 0.1);
  border-left: none;
  border-right: none;
  border-bottom: none;
  padding-bottom: 2%;
}
#content-area #filters .parent h3 {
  margin-bottom: 2%;
  font-size: 0.9vw;
}

/* Filter section styles for collapsible functionality */
.filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-bottom: 2%;
}

.filter-arrow {
  font-size: 1vw;
  transition: transform 0.3s ease;
}

.filter-arrow.rotated {
  transform: rotate(180deg);
}

.filter-content {
  overflow: hidden;
  max-height: 1000px;
  transition: max-height 0.3s ease-in-out;
}

.filter-content.collapsed {
  max-height: 0;
}
#content-area #filters #Category ul li {
  cursor: pointer;
  opacity: 0.6;
  margin-top: 5%;
  /* text-align: center; */
  margin-bottom: 5%;
}
#content-area #filters #Category ul li:hover {
  transform: scale(1.01);
}
#content-area #filters #Brands ul li {
  cursor: pointer;
  margin-top: 5%;
  margin-bottom: 5%;
}
#content-area #filters .checkbox {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  border: 1px solid #d9d9d9;
  accent-color: #0d6efd;
}
#content-area #product-list #item-count .checkbox {
  accent-color: #0d6efd;
  width: 1.5vh;
  height: 9.3vh;
}

#content-area #filters #Brands ul li input {
  margin-right: 1%;
}
#content-area #filters #Brands ul li:hover {
  transform: scale(1.01);
}
#content-area #filters #Features ul li {
  cursor: pointer;
  margin-top: 5%;
  margin-bottom: 5%;
}
#content-area #filters #Features ul li:hover {
  transform: scale(1.01);
}
#content-area #filters #condition ul li {
  cursor: pointer;
  margin-top: 5%;
  margin-bottom: 5%;
}
#content-area #filters #condition ul li input {
  cursor: pointer;
  margin-right: 1%;
}
#content-area #filters #condition ul li:hover {
  transform: scale(1.01);
}
#content-area #filters #Rating ul li {
  cursor: pointer;
  margin-top: 4%;
  margin-bottom: 4%;
}
#content-area #filters #Rating ul li span {
  margin-right: 1%;
}
.checked {
  color: orange;
}
#content-area #filters #Rating ul li:hover {
  transform: scale(1.01);
}
#content-area #filters #Range {
  padding-top: 2%;
  margin-bottom: 1%;
  border: 0.1px solid rgba(0, 0, 0, 0.1);
  border-left: none;
  border-right: none;
  border-bottom: none;
  padding-bottom: 2%;
  display: flex;
  flex-direction: column;
}
.range_container {
  display: flex;
  margin-top: 8%;
  height: auto;
  /* margin-bottom: 18%; */
  width: 100%;
  flex-direction: column;
}

.sliders_control {
  position: relative;
}

.form_control {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  color: #635a5a;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 18px;
  height: 18px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #c6c6c6;
  cursor: pointer;
}
@media (max-width: 1325px) {
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 4%;
    height: 8px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #c6c6c6;
    cursor: pointer;
  }
  .check {
    width: 1vh;
    height: auto;
  }
}
@media (max-width: 950px) {
  .check {
    width: 0.7vh;
    height: auto;
  }
}
@media (max-width: 849px) {
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 2%;
    height: 4px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #c6c6c6;
    cursor: pointer;
  }
  .check {
    width: 0.5vh;
    height: auto;
  }
}
@media (max-width: 584px) {
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 2%;
    height: 2px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #c6c6c6;
    cursor: pointer;
  }
  .check {
    width: 0.3vh;
    height: auto;
  }
}
@media (max-width: 584px) {
  .check {
    width: 0.05vh;
    height: auto;
  }
}
input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  pointer-events: all;
  width: 24%;
  height: 24%;
  background-color: #1170fb;
  border-radius: 50%;
  box-shadow: 0 0 0 1px white;
  color: white;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: #f7f7f7;
}

input[type="range"]::-webkit-slider-thumb:active {
  box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
  -webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 2px;
  width: 100%;
  position: absolute;
  background-color: #9cbdf0;
  pointer-events: none;
}

#fromSlider {
  height: 0px;
  z-index: 1;
}
#content-area #filters #Range #minNmax {
  margin-top: 8%;
  border: none;
  display: flex;
  margin-bottom: 10%;
}
#content-area #filters #Range #minNmax input {
  /* background-color: black; */
  border: none;
  width: 95%;
  height: 80%;
  border: 0.1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding-left: 5%;
  font-size: 0.9vw;
}
#content-area #filters #applyBtn {
  text-align: center;
  background-color: white;
  border: 0.1px solid rgba(0, 0, 0, 0.1);
  color: #1170fb;
  cursor: pointer;
  padding-top: 3%;
  padding-bottom: 3%;
  border-radius: 5px;
}
#content-area #filters #applyBtn:hover {
  transform: scale(1.05);
}

/* Section: list-view(page Right-view) */
#content-area #product-list {
  background-color: rgb(246, 250, 253);
  width: 78%;
  height: auto;
}

#content-area #product-list #item-count {
  display: flex;
  background-color: white;
  align-items: center;
  border-radius: 1vh;
  justify-content: space-between;
  font-size: 0.9vw;
  border: 0.1px solid rgba(0, 0, 0, 0.1);
  height: auto;
}
#content-area #product-list #item-count div {
  font-size: 0.9vw;
  width: 30%;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}
#content-area #product-list #item-count div p {
  cursor: pointer;
}
#content-area #product-list #item-count p {
  font-size: 0.9vw;
}
#content-area #product-list #item-count div .featured {
  margin-left: 2%;
  margin-right: 2%;
}
#content-area #product-list #item-count div .special {
  cursor: pointer;
  border: 0.1px solid rgba(0, 0, 0, 0.1);
  padding: 1.5% 2% 1.5% 2%;
  /* margin-left: -10%; */
}
#content-area #product-list #item-count div .joined {
  transform: translateX(-13%);
  background-color: rgb(229, 231, 233);
}
#content-area #product-list .product {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 1%;
  display: flex;
  background-color: white;
  border-radius: 1vh;
  border: 0.1px solid rgba(0, 0, 0, 0.1);
  margin-top: 1%;
  margin-bottom: 1%;
  cursor: pointer;
}
#content-area #product-list .product:hover {
  transform: scale(1.01);
}
#content-area #product-list .product img {
  height: auto;
  width: 20%;
}
#content-area #product-list .product .favourite {
  width: 3%;
  height: 2%;
  border: 0.1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  left: 9.55%;
  margin-right: 1%;
  margin-top: 0.68rem;
}
#content-area #product-list .product .description {
  font-size: 1vw;
  margin-bottom: 3%;
}
#content-area #product-list .product a {
  font-size: 0.9vw;
}
#content-area #product-list .product div {
  padding-left: 2%;
  padding-top: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
}
#content-area #product-list .product div .discount {
  text-decoration: line-through;
  opacity: 0.4;
}
#content-area #product-list .product div h3 {
  font-size: 1.1vw;
  margin-bottom: 1.5%;
}
#content-area #product-list .product div h2 {
  font-size: 1.3vw;
  margin-bottom: 1.5%;
}
#content-area #product-list .product div p {
  opacity: 0.6;
  font: 0.9vw;
}

#content-area #product-list .product div .shippingText {
  color: rgb(77, 243, 35);
  opacity: 1;
}
#content-area #product-list .product .ratingNorder {
  padding-left: 0%;
  display: flex;
  margin-bottom: 1%;
  font-size: 0.9vw;
}
#content-area #product-list .product .ratingNorder .rate {
  color: #ff9017;
}
#content-area #product-list .product .ratingNorder p {
  margin-left: 1%;
}

#page-count {
  width: 25%;
  display: flex;
  justify-content: end;
  margin-left: 61.5vw;
  font-size: 0.9vh;
  margin-right: 12%;
  margin-bottom: 3%;
  margin-top: 1%;
}
#page-count .active {
  /* opacity: 0.6; */
  background-color: rgb(203, 205, 207);
}
#page-count button {
  width: 2.75rem;
  height: 2.5rem;
  cursor: pointer;
  border: none;
  padding: 0.5% 0.5% 0.5% 0.5%;
  border-radius: 5px;
}
#page-count button:hover {
  box-shadow: 0 0 0 1px #0d6efd;
}
#page-count div {
  margin-left: 2%;
  display: flex;
}

#page-count #dropdownBtn {
  border: 1px solid #dee2e7;
  border-radius: 5px;
  max-width: 7.812rem;
  max-height: 2.5rem;
  width: auto;
  height: auto;
  font-size: 1rem;
  text-align: left;
}
#page-count div p {
  display: inherit;
  align-items: center;
  padding: 5% 25% 5% 25%;
  /* padding-left: 10%; */
  border-radius: 0px;
}
/* Footer */

/* Footer styles are imported from style.css */
